# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
*.lcov
.nyc_output

# Build & Production
build/
dist/
out/
.next/
.nuxt/

# Environment Variables
.env
.env.*
!.env.example

# OS & IDE Files
.DS_Store
*.pem
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Misc Node.js
pids
*.pid
*.seed
*.pid.lock
.cache
.parcel-cache
.eslintcache
